<!DOCTYPE html>
<html>
    <head>
        <title>pIR Scope</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <h1>Control pIR Scope</h1>


        <a href="/?command=Photo"><button class="button">Take Photo</button></a>

        <a href="/?command=StartRecording"><button class="button">Start Recording</button></a>

        <a href="/?command=StopRecording"><button class="button">Stop Recording</button></a>

        <a href="/?command=Restart"><button class="button">Restart</button></a>

        <a href="/?command=Shutdown"><button class="button">Shutdown</button></a>

    </body>
</html>